# An example file showcasing how an original env can be setup

# django ENGINE
ENGINE=django.db.backends.postgresql
# or django.db.backends.sqlite3

# database name
DB_NAME=db.sqlite3
# or any other valid name

# database admin user on the database server
SQL_USER=postgres

# credential password for the database admin user
SQL_PASSWORD=someexamplepassword

# host name for DB
DB_HOST=db

# port for database server
DB_PORT=5432

# secret key for django settings, generated along with battries
SECRET_KEY=django-insecure-9o-%qprfet^wnt@(3*1d2f)&nm@6g)!m&b^h&jmmkzh@4)%#kp
