# django ENGINE
ENGINE=django.db.backends.postgresql

# database name
DB_NAME=vendor-app

# database admin user on the database server
POSTGRES_USER=postgres

# credential password for the database admin user
POSTGRES_PASSWORD=someexamplepassword
